﻿@{
    ViewBag.Title = "Result";
}
@model IEnumerable<BusinessLogic.OutputNum>
<h2>Result</h2>
@if (Model != null)  
   {  
       foreach (var item in Model)  
       {  
       <ul>  
  
           <li>  
              <span style="color:@item.labelcolour">
                   @Html.DisplayFor(modelItem => item.number)  
                  </span>
           </li>               
       </ul>  
       }  
   }  